

    <div class="container theme-showcase" role="main">

      <p>
        <a href="__DOMAIN__/index.php/index/Index/index/category/{$id}/cate/0"><button class="btn btn-sm btn-default {if condition="$cate eq 0"}active{/if}" type="button">全部</button></a>
        <!-- <button class="btn btn-sm btn-default" type="button">互联网</button>
        <button class="btn btn-sm btn-default" type="button">数码</button>
        <button class="btn btn-sm btn-default" type="button">IT</button>
        <button class="btn btn-sm btn-default" type="button">电信</button> -->
        {volist name="meu" id="vo"}


        <a href="__DOMAIN__/index.php/index/Index/index/category/{$id}/cate/{$vo.cid}"><button class="btn btn-sm btn-default {if condition="$cate eq $vo.cid"}active{/if}" type="button">{$vo.cname}</button></a>
        {/volist}
      </p>

      <div class="row all-event-list mt20">
      {volist name="article" id="vo"}
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="__DOMAIN__/index.php/index/Article/index/category/{$id}/cate/{$cate}/article/{$vo.aid}"><img class="widget-event__banner lazy" src="__IMG__/article_06.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="__DOMAIN__/index.php/index/Article/index/category/{$id}/cate/{$cate}/article/{$vo.aid}">{$vo.title}</a></h2>
              <ul class="widget-event__meta">
                <li>时间：{$vo.pubtime|date='Y-m-d h:i:s',###}</li>
              </ul>
              <a class="btn btn-default btn-sm" href="__DOMAIN__/index.php/index/Article/index/category/{$id}/cate/{$cate}/article/{$vo.aid}">查看</a>
            </div>
          </div>
        </div>
        {/volist}
       <!--  <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_02.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">2015中国旅游极客开发大赛</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_03.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">高升云道—云时代的智能硬件和物联网创业</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_04.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">数据重构未来 - 七牛·数据时代峰会</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_01.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">高速+智能→未来</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_02.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">2015中国旅游极客开发大赛</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_03.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">高升云道—云时代的智能硬件和物联网创业</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_04.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">数据重构未来 - 七牛·数据时代峰会</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_01.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">高速+智能→未来</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_02.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">2015中国旅游极客开发大赛</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_03.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">高升云道—云时代的智能硬件和物联网创业</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_04.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">数据重构未来 - 七牛·数据时代峰会</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_01.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">高速+智能→未来</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_02.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">2015中国旅游极客开发大赛</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_03.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">高升云道—云时代的智能硬件和物联网创业</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="widget-event">
            <a href="#"><img class="widget-event__banner lazy" src="__IMG__/article_04.png"></a>
            <div class="widget-event__info">
              <h2 class="h4 title"><a href="#">数据重构未来 - 七牛·数据时代峰会</a></h2>
              <ul class="widget-event__meta">
                <li>时间：2015-09-19</li>
              </ul>
              <a class="btn btn-default btn-sm" href="#">查看</a>
            </div>
          </div>
        </div> -->



      </div>


      <div class="text-center">

        <?php echo $page; ?>
       <!--  <ul class="pagination">
          <li class="active"><a href="javascript:void(0);">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="next"><a href="#" rel="next">下一页</a></li>
        </ul> -->
      </div>


    </div>


 