		
		</iframe>


			</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		<div class="layui-footer footer">
			<p><span>copyright @2018 {$userinfo.a_user}</span>　　<a onclick="donation()" class="layui-btn layui-btn-danger layui-btn-sm">捐赠作者</a></p>
		</div>
	</div>

	<!-- 移动导航 -->
	<div class="site-tree-mobile"><i class="layui-icon">&#xe602;</i></div>
	<div class="site-mobile-shade"></div>

	<script type="text/javascript" src="__LAY__/layui.js"></script>
	<script type="text/javascript" src="__JS__/index.js"></script>
	<script type="text/javascript" src="__JS__/cache.js"></script>
	<script>
    var iframe = document.getElementById('iframe-main');

    iframe.src = '';
    console.log(iframe.src);

    iframe.src = '{:url("show")}'

    var shouye = document.getElementById('shouye');

    shouye.onclick = function () {
        iframe.src = '{:url("show")}'
    }
</script>
</body>
</html>